In [26]:
import pandas as pd

import numpy as np

pd.DataFrame?

## Creation of data frames by different methods

In [27]:
pd.DataFrame?

# We can specify column labels too!!!!!!! while creating data frames

# creating data frames through array/list
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]

# every row and column forms a series (1D) where each element has unique label
listDFrame = pd.DataFrame([list1, list2, list3], index = ['first', 'second', 'third'])
print(listDFrame)

# Here we see the columns have labels by default as integers

arr1 = np.array(list1)
arr2 = np.array(list2)
arr3 = np.array(list3)

arrDFrame = pd.DataFrame([arr1, arr2, arr3])

print(arrDFrame)

# creating data frames by using list of dictionaries
d1 = {'laptop': 'gaming', 'mouse': 'optical'}
d2 = {'laptop': 'potato head', 'mouse': 'roller ball'}
d3 = {'laptop': 'normal', 'mouse':'gaming'}

dictDFrame = pd.DataFrame([d1, d2, d3], index = ['comp1', 'comp2', 'comp3'])
print(dictDFrame)

        0  1  2
first   1  2  3
second  4  5  6
third   7  8  9
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball
comp3       normal       gaming

In [28]:
# creating data frames using series (series are created by numpy arrays and dictionary)

series1 = pd.Series(d1)
series2 = pd.Series(d2)
series3 = pd.Series(d3)

seriesDFrame = pd.DataFrame([series1, series2, series3])
print(seriesDFrame)

# using random.randint and no explicit index
sarr1 = pd.Series(np.random.randint(0,10,(3,))) #(3,) is for 1D array
sarr2 = pd.Series(np.random.randint(0,10,(3,)))
sarr3 = pd.Series(np.random.randint(0,10,(3,)))

DFrame = pd.DataFrame([sarr1, sarr2, sarr3])
print(DFrame)

        laptop        mouse
0       gaming      optical
1  potato head  roller ball
2       normal       gaming
   0  1  2
0  8  9  0
1  2  8  7
2  9  1  1

In [29]:
# dictionary of dictionary
dd1 = {'first' : d1, 'second' : d2, 'third' : d3}

dDFrame = pd.DataFrame(dd1)

print(dDFrame) # Here we got the key values of the parent dictionary to be column labels

          first       second   third
laptop   gaming  potato head  normal
mouse   optical  roller ball  gaming

## Querying data from data frames

In [30]:
# Querying only rows
temp = dictDFrame 
print(temp, end = '\n\n')

# using indices to access rows, we need to use iloc
print(temp.iloc[0], end = '\n\n') # first row

print(temp.iloc[1], end = '\n\n') # second row
# output of the row shows LABEL of the row with elements of the row and their colLables

# using row labels to access rows, we need to use loc
print(temp.loc['comp3']) # thrid row

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball
comp3       normal       gaming

laptop     gaming
mouse     optical
Name: comp1, dtype: object

laptop    potato head
mouse     roller ball
Name: comp2, dtype: object

laptop    normal
mouse     gaming
Name: comp3, dtype: object

In [31]:
temp.iloc?

In [32]:
temp.loc?

### Querying a specific element with loc and iloc, try slicing

In [33]:
# loc and iloc are used to query rows only, we can give 2nd parameter which is column

# using iloc-----------------------------------
print(temp.iloc[1,0], end = '\n\n') # 2nd row and 1st column

print(temp.iloc[0,0], end = '\n\n') # 1st row and 1st column

# using loc -----------------------------------
print(temp.loc['comp1', 'mouse'], end = '\n\n') # 1st row and 2nd column

print(temp.loc['comp3', 'laptop'], end = '\n\n') # 3rd row and 1st column

# trying slicing ------------------------------
# both iloc and loc can handle slicing

print('slicing row and columns separately ----------------- \n')

# rows 1 and 2
print(temp.iloc[0:2], end = '\n\n')

# columns 1 and 2, in normal indexing we use user column labels if present
print(temp[['mouse', 'laptop']], end = '\n\n') # explicitly mentioning them

# or
print(temp.loc[:, 'laptop' : 'mouse'], end = '\n\n') # using slicing

# for multiple columns which may not be consecutive we use a list while indexing
print(temp.T[['comp1','comp3']], end = '\n\n')


# slicing for direct indexing is similar to slicing rows in loc
print(temp['comp1' : 'comp3'], end = '\n\n') # similar to temp.loc['comp1':'comp3']


# slicing both rows and columns and getting inner block of elements ---------------------

print('slicing rows and columns-------------- \n')

# using iloc
print(temp.iloc[1:3, 0:2], end = '\n\n') # bottom right block

print(temp.iloc[0:2, 0:2], end = '\n\n') # top left block

# using loc
# bottom right block
print(temp.loc['comp2': 'comp3', 'laptop': 'mouse'], end = '\n\n')

# top left block
print(temp.loc['comp1':'comp2', 'laptop':'mouse'])

potato head

gaming

optical

normal

slicing row and columns separately -----------------

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball

             mouse       laptop
comp1      optical       gaming
comp2  roller ball  potato head
comp3       gaming       normal

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball
comp3       normal       gaming

          comp1   comp3
laptop   gaming  normal
mouse   optical  gaming

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball
comp3       normal       gaming

slicing rows and columns--------------

            laptop        mouse
comp2  potato head  roller ball
comp3       normal       gaming

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball

            laptop        mouse
comp2  potato head  roller ball
comp3       normal       gaming

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball

## Chaining of operations

In [34]:
# chaining for when we do to different operations
# temp.loc[row, col] is one operation
# but temp.loc[row][column] is two different operations

# here first we get new dataframe and then we find element with 'laptop' label
print(temp.loc['comp1']['laptop'])

# generally chaining is slow and may give unexpected results, try to avoid it

gaming

## Droping and deleting from a dataframe

In [35]:
# Drop method is for each data frame object
# Generally drop function creates a new copy which has the requested elements dropped

# for dropping elements in the original data frame we set inplace=true

# temp.drop?

# we pass the row index/label to remove a row

# by row label
print(temp.drop('comp1'), end = '\n\n') # dropping 'comp1' row

# print(temp.drop(0)) # gives keyError, if labels are mentioned

# print(temp.drop('laptop')) # error as the axis by default is 0 or rows

# for columns we either use column parameter or mention axis = 1
print(temp.drop('laptop', axis = 1), end = '\n\n') # for laptop column

# or -------

print(temp.drop(columns='laptop'), end = '\n\n') # or columns = ['laptop']
# for multiple columns use list [c1, c2 , ...]

# drop if not mentioned searches any label given, if explicitly mentioned
# either index for integers (for rows) and columns

# By default axis = 0, so if i need to delete rows i can just mention the
# label

# dropping a particular element ---------------------------

# didn't remove a particular element but removed the whole column and row
print(temp.drop(index = 'comp1', columns='laptop'), end = '\n\n')

# drop function can't drop a particular element

# Deleting using del keyword ----------------------------------------
# Deleting using del keyword has immediate effect

# del keyword is used for columns during direct indexing
rcopy = temp.copy()
print(rcopy, end = '\n\n')

del rcopy['laptop']
rcopy

            laptop        mouse
comp2  potato head  roller ball
comp3       normal       gaming

             mouse
comp1      optical
comp2  roller ball
comp3       gaming

             mouse
comp1      optical
comp2  roller ball
comp3       gaming

             mouse
comp2  roller ball
comp3       gaming

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball
comp3       normal       gaming

             mouse
comp1      optical
comp2  roller ball
comp3       gaming

## Adding new columns or rows to existing data frame

In [36]:
# we can add a new column or row by basically considering another label
# and assigning it a value that gets broadcasted

# adding a new row, gets reflected to the original data frame
temp.loc['comp4'] = None # whole row even if new columns arrive this
                        # will be their probable default val
print(temp, end = '\n\n')

# adding a new col
temp['monitor'] = 'LCD'
print(temp, end = '\n\n')

# adding a new element in a new row and col
temp.loc['comp5', 'headset'] = 'new'
print(temp)

            laptop        mouse
comp1       gaming      optical
comp2  potato head  roller ball
comp3       normal       gaming
comp4          NaN          NaN

            laptop        mouse monitor
comp1       gaming      optical     LCD
comp2  potato head  roller ball     LCD
comp3       normal       gaming     LCD
comp4          NaN          NaN     LCD

            laptop        mouse monitor headset
comp1       gaming      optical     LCD     NaN
comp2  potato head  roller ball     LCD     NaN
comp3       normal       gaming     LCD     NaN
comp4          NaN          NaN     LCD     NaN
comp5          NaN          NaN     NaN     new

In [37]:
col = [1,2,3]
print(col[:2] == 1)

False

## Loading a file directly as a data frame

In [38]:
# now pandas has certain read functions to do this
# different file formats have different read functions like .read_csv()
df = pd.read_csv("olympics.csv")
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [42]:
import matplotlib
df.plot